{
  "env": {
    "browser": true,
    "es2017": true,
    "node": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["no-only-tests"],
  "parserOptions": {
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "project": "./{src,test}/tsconfig.json"
      },
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "rules": {
        "@typescript-eslint/unbound-method": "off"
      }
    }
  ]
}
